@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Roboto';
    src: '../fonts/Roboto.woff' format('woff');
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: #ffffff;         /* En oscuro, acento pasa a blanco */
    --color-accent-content: #a2132f; /* Texto se vuelve bordó sobre blanco */
    --color-accent-foreground: #4d0a17; /* Borde oscuro bordó profundo */
    --color-navbar: #111016;
    --color-navbar-light: #d4d4d8;

    --color-surface: #FDFDFC;            /* Fondo principal */
    --color-surface-content: #000000;    /* Texto general */

    --font-roboto: 'Roboto';

}

@layer theme {
    .dark {
        --color-accent: #ffffff;         /* En oscuro, acento pasa a blanco */
        --color-accent-content: #a2132f; /* Texto se vuelve bordó sobre blanco */
        --color-accent-foreground: #4d0a17; /* Borde oscuro bordó profundo */

        --color-surface: #0a0a0a;        /* Fondo general oscuro */
        --color-surface-content: #ffffff;/* Texto claro */


        .background-primary {
            background:
              radial-gradient(circle at 10% 20%, rgba(162, 19, 47, 0.4), transparent 50%),
              radial-gradient(circle at 90% 95%, rgba(100, 10, 30, 0.3), transparent 50%),
              linear-gradient(160deg, rgba(162, 19, 47, 0.05), rgba(0, 0, 0, 0.8));
            background-blend-mode: lighten;
        }
    }

    .background-primary {
        background-color: #FDFDFC;
        background-image:
          radial-gradient(circle at 30% 40%, rgba(162, 19, 47, 0.15), transparent 50%),
          radial-gradient(circle at 80% 70%, rgba(100, 10, 30, 0.1), transparent 60%),
          linear-gradient(160deg, rgba(162, 19, 47, 0.05), rgba(0, 0, 0, 0.03));
        background-blend-mode: multiply;
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
